<div class="p-3">
    <div class="card">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="keyword">
          <button class="btn btn-outline-success" type="button">
            <i class="bi bi-search"></i> Search
          </button>
        </div>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{customer.id}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.email}}</td>
              <td><a class="btn btn-primary" [routerLink]="['edit', customer.id]">Edit</a></td>
              <td><a class="btn btn-danger" [routerLink]="['delete', customer.id]">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  