<div class="p-3">
    <div class="card">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="keyword">
          <button class="btn btn-outline-success" type="button" (click)="searchProducts()">
            <i class="bi bi-search"></i> Search
          </button>
        </div>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>PHOTO</th>
              <th>PRICE</th>
              <th>QUANTITY</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.photo}}</td>
              <td>{{product.price}}</td>
              <td>{{product.quantity}}</td>
              <td><a class="btn btn-primary" [routerLink]="['edit', product.id]">Edit</a></td>
              <td><a class="btn btn-danger" [routerLink]="['delete', product.id]">Delete</a></td>
            </tr>
          </tbody>
        </table>
        <ul class="nav nav-pills">
          <li *ngFor="let page of getPaginationRange()">
            <a [ngClass]="page === currentPage ? 'btn-info' : 'btn-outline-info'" (click)="gotoPage(page)" class="btn ms-1 mt-1">{{page}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  