.sidebar {
  /* background-color: #343a40; Set the background color */
  padding: 2rem; /* Add padding to the sidebar */
  height: 680px;
}

.simple_link {
  color: #fff; /* Set the link color to white */
  text-decoration: none; /* Remove underline */
  display: block; /* Display as block element */
  margin-bottom: 1rem; /* Add margin at the bottom */
}

.nav-link {
  color: #fff; /* Set the link color to white */
  text-decoration: none; /* Remove underline */
}

.btn {
  width: 100%; /* Set the button width to 100% */
  margin-bottom: 0.5rem; /* Add margin at the bottom */
}

.btn-outline-light {
  color: #fff; /* Set the text color to white */
  border-color: #fff; /* Set the border color to white */
}

.btn-outline-light:hover {
  background-color: #fff; /* Change the background color on hover */
  color: #343a40; /* Change the text color on hover */
}

/* Optional: Add more custom styling as needed */
