.logo-img {
    width: 40px;
    height: auto;
    /* margin-right: 10px; */
  }
  
  .logo-text {
    font-size: 20px;
    font-weight: bold;
  }
  
  .logout-btn {
    background-color: orange;
    color: white;
    border: none;
  }
  
  .logout-btn:hover {
    background-color: #ff5722;
  }
  