<div class="form_container" *ngIf="customer">
    <form 
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()"
    >
        <div class="group">
            <label for="username">Name</label>
            <input type="text" name="name" id="name" [(ngModel)]="form.name" #name="ngModel" required>
            <div class="name_error" *ngIf="name.invalid && f.submitted">
                Name is required    
            </div>
        </div>

        <div class="group">
            <label for="quantity">Email</label>
            <input type="text" name="quantity" id="quantity" [(ngModel)]="form.email" #quantity="ngModel" required>
            <div class="quantity_error" *ngIf="quantity.invalid && f.submitted">
                Quantity is required    
            </div>
        </div>

        <div class="group">
            <button class="btn btn-info">Save customer</button>
        </div>
    </form>
</div>