.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-container {
  max-width: 600px;
  width: 100%;
  padding: 40px;
  border-radius: 10px;
}
.form-header {
  text-align: center;
  margin-bottom: 20px;
}
h3 {
  color: black;
}
label {
  color: black;
}
.btn-primary {
  background-color: orange;
  border-color: orange;
}
.btn-primary:hover {
  background-color: #f96600;
  border-color: #f96600;
}
.invalid-feedback {
  color: #dc3545;
}