<div class="form_container  p-2">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="form.name" #name="ngModel" required>
        <div class="invalid-feedback" *ngIf="name.invalid && f.submitted">
          Name is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" name="quantity" id="quantity" [(ngModel)]="form.email" #quantity="ngModel" required>
        <div class="invalid-feedback" *ngIf="quantity.invalid && f.submitted">
          Quantity is required
        </div>
      </div>
  
      <div class="form-group">
        <button class="btn btn-primary">Save Product</button>
      </div>
    </form>
  </div>
  