<div class="container bg-white">
    <h1 class="heading">Welcome to TAFFAH BANK</h1>
    <p class="description">We provide a comprehensive banking solution to manage your bank accounts. Each account belongs to a customer and can undergo debit and credit operations. We offer two types of accounts: Current Accounts and Savings Accounts.</p>
    <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>Watch our 5-minute demo video to learn more about our Bank Account Management Application.</p>
</div>